/* stylelint-disable */

.wit-background--primary {
    background-color: var(--primary);
}

.wit-background--white {
    background-color: var(--white);
}

.wit-background--content {
    background-color: var(--content-bg);
}

.wiz-background--transparent {
    background-color: transparent;
}

.wit-color--white {
    color: var(--white);
}

.wit-color--dark {
    color: var(--black);
}

.wit-color--muted {
    color: var(--muted-text-color);
}

.wit-color--primary {
    color: var(--primary);
}

.wit-color--warning {
    color: var(--warning);
}

.wit-color--success {
    color: var(--success);
}

.wit-color--Y400 {
    color: var(--yellow-400);
}

.wit-color--O600 {
    color: var(--orange-600);
}

.wit-color--orange {
    color: var(--orange);
}

.wit-color--danger {
    color: var(--danger);
}

.wit-color--white-half {
    color: rgba(255, 255, 255, 0.5);
}

/*.wit-text--N600 {*/
/*    color: $N600;*/
/*}*/

/*.wit-text--N500 {*/
/*    color: $N500;*/
/*}*/

/*.wit-text--N400 {*/
/*    color: $N400;*/
/*}*/

/*.wit-text--N300 {*/
/*    color: $N300;*/
/*}*/

/*.wit-text--N100 {*/
/*    color: $N100;*/
/*}*/

/*.wit-text--G300 {*/
/*    color: $G300;*/
/*}*/

/*.wit-text--white {*/
/*    color: $white;*/
/*}*/

/*.wit-text--Y500 {*/
/*    color: $Y500;*/
/*}*/

/*.wit-text--R300 {*/
/*    color: $R300 !important;*/
/*}*/

/*.wit-text--G300 {*/
/*    color: $G300;*/
/*}*/

.wiz-border {
    border: var(--default-border);
}

.wiz-border--top {
    border-top: var(--default-border);
}

.wiz-border--left {
    border-left: var(--default-border);
}

.wiz-border--right {
    border-right: var(--default-border);
}

.wiz-border--bottom {
    border-bottom: var(--default-border);
}
