/* Top */
.wit-offset-top--xxs {
    margin-top: var(--offset-xxs) !important;
}

.wit-offset-top--xs {
    margin-top: var(--offset-xs) !important;
}

.wit-offset-top--sm {
    margin-top: var(--offset-sm) !important;
}

/* Bottom */
.wit-offset-bottom--xxs {
    margin-bottom: var(--offset-xxs) !important;
}

.wit-offset-bottom--xs {
    margin-bottom: var(--offset-xs) !important;
}

.wit-offset-bottom--sm {
    margin-bottom: var(--offset-sm) !important;
}

.wit-offset-bottom--md {
    margin-bottom: var(--offset-md) !important;
}

.wit-offset-bottom--lg {
    margin-bottom: var(--offset-lg) !important;
}

.wit-offset-bottom--xlg {
    margin-bottom: var(--offset-xlg) !important;
}

.wit-offset-bottom--xxlg {
    margin-bottom: var(--offset-xxlg) !important;
}

.wit-offset-bottom--none {
    margin-bottom: 0 !important;
}

/* Left */

.wit-offset-left--none {
    margin-left: 0 !important;
}

.wit-offset-left--auto {
    margin-left: auto !important;
}

.wit-offset-left--xxs {
    margin-left: var(--offset-xxs) !important;
}

.wit-offset-left--xs {
    margin-left: var(--offset-xs) !important;
}

.wit-offset-left--sm {
    margin-left: var(--offset-sm) !important;
}

.wit-offset-left--md {
    margin-left: var(--offset-md) !important;
}

.wit-offset-left--lg {
    margin-left: var(--offset-lg) !important;
}

.wit-offset-left--xlg {
    margin-left: var(--offset-xlg) !important;
}

.wit-offset-left--xxlg {
    margin-left: var(--offset-xxlg) !important;
}

/* Right */
.wit-offset-right--none {
    margin-right: 0 !important;
}

.wit-offset-right--auto {
    margin-right: auto !important;
}

.wit-offset-right--xxs {
    margin-right: var(--offset-xxs) !important;
}

.wit-offset-right--xs {
    margin-right: var(--offset-xs) !important;
}

.wit-offset-right--sm {
    margin-right: var(--offset-sm) !important;
}

.wit-offset-right--xsm {
    margin-right: 12px !important;
}

.wit-offset-right--md {
    margin-right: var(--offset-md) !important;
}

.wit-offset-right--lg {
    margin-right: var(--offset-lg) !important;
}

.wit-offset-right--xlg {
    margin-right: var(--offset-xlg) !important;
}

.wit-offset-right--xxlg {
    margin-right: var(--offset-xxlg) !important;
}

// Paddings

.wit-paddings--none {
    padding: 0;
}

.wit-paddings--md {
    padding: var(--offset-md);
}

.wit-paddings--sm {
    padding: var(--offset-sm);
}

.wit-paddings--xs {
    padding: var(--offset-xs);
}

.wit-paddings--xxs {
    padding: var(--offset-xxs);
}

.wit-padding-bottom--xs {
    padding-bottom: var(--offset-xs);
}

.wit-padding-bottom--xxs {
    padding-bottom: var(--offset-xxs);
}

.wit-padding-bottom--sm {
    padding-bottom: var(--offset-sm);
}

.wit-padding-bottom--md {
    padding-bottom: var(--offset-md);
}

.wit-padding-top--none {
    padding-top: 0;
}

.wit-padding-top--xs {
    padding-top: var(--offset-xs);
}

.wit-padding-top--xxs {
    padding-top: var(--offset-xxs);
}

.wit-padding-top--sm {
    padding-top: var(--offset-sm);
}

.wit-padding-top--md {
    padding-top: var(--offset-md);
}

.wit-padding-left--xs {
    padding-left: var(--offset-xs);
}

.wit-padding-left--xxs {
    padding-left: var(--offset-xxs);
}

.wit-padding-left--sm {
    padding-left: var(--offset-sm);
}

.wit-padding-left--lg {
    padding-left: var(--offset-lg);
}

.wit-padding-right--xs {
    padding-right: var(--offset-xs);
}

.wit-padding-right--xxs {
    padding-right: var(--offset-xxs);
}

.wit-padding-right--sm {
    padding-right: var(--offset-sm);
}

.wit-padding-right--lg {
    padding-right: var(--offset-lg);
}
