.wit-overflow--hidden {
    overflow: hidden;
}

.wit-position--relative {
    position: relative;
}

.wit-position--absolute {
    position: absolute;
}

.wit-font-family--primary {
    font-family: var(--font-family-primary);
}

.wit-font-family--secondary {
    font-family: var(--font-family-secondary);
}

.wit-transition {
    transition: color var(--default-transition), background-color var(--default-transition), border-color var(--default-transition), box-shadow var(--default-transition);
}

.wit-transition--color {
    transition: color var(--default-transition);
}

.wit-transition--background {
    transition: background-color var(--default-transition);
}

.wit-transition--border {
    transition: border-color var(--default-transition);
}

.wit-transition--box-shadow {
    transition: box-shadow var(--default-transition);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.wit-animation--spin {
    animation: spin 2s infinite linear;
}
