.wit-block--full-width {
    width: 100%;
}

.wit-block--full-height {
    height: 100%;
}

.wis-block--max-width-xs {
    max-width: 1024px !important;
    margin-left: auto;
    margin-right: auto;
}

.wis-block--max-width {
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1920px) {
        max-width: 1440px !important;
    }

    @media (min-width: 1921px) and (max-width: 2560px) {
        max-width: 1920px !important;
    }
}

.wis-min-width--none {
    min-width: 0;
}
