html {
    font-size: 14px;

    &.is-clipped {
        padding-right: var(--scrollbar-width);
    }
}

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}

.field:not(:last-child) {
    margin-bottom: var(--offset-sm);
}

.input {
    padding: var(--offset-xs) var(--offset-sm);
}

.text-link {
    padding: 0;
    height: auto;
    line-height: 1;
}

.help {
    margin-top: var(--offset-xs);
    color: var(--input-placeholder-color);
}

.dropdown-item {
    font-size: 1rem;
}

.dialog .modal-card {
    max-width: 500px;
}

.modal-card-body {
    line-height: 1.5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sarabun, sans-serif;
    font-weight: 600;
}

.b-tooltip .tooltip-content {
    color: var(--tooltip-color) !important;
    background-color: var(--tooltip-bg) !important;

    &::before {
        border-top-color: var(--tooltip-bg) !important;
    }
}

.navbar-menu {
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
}

.navbar-burger {
    &,
    &:hover,
    &:active {
        color: var(--white);
    }
}

.navbar-brand {
    margin-right: var(--offset-lg);
    min-height: var(--header-height);
    max-height: var(--header-height);

    @media screen and (max-width: 1024px) {
        margin-right: 0;
    }
}

.navbar-start:not(:empty) {
    margin-left: auto;

    //@media screen and (max-width: 1024px) {
    //    padding-top: var(--offset-xs);
    //    border-bottom: var(--navbar-mobile-footer-border);
    //}
}

.navbar-end {
    margin-left: 0;

    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

strong {
    color: var(--body-color);
}

.wit-dropdown--offset-xs .dropdown-content {
    margin-top: var(--offset-xs);
}
