/* stylelint-disable no-descending-specificity */

html {
    font-size: 16px;
    overflow-y: auto;
}

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}

.field:not(:last-child) {
    margin-bottom: var(--offset-sm);
}

.input {
    padding: var(--offset-xs) var(--offset-sm);
    font-size: 14px;
    height: 40px;
    //padding-left: 40px !important;

    &.rounded {
        border-radius: 20px;
    }

    //& + .icon.is-right {
    //    display: none;
    //    right: 4px;
    //}

    & + .icon.is-left {
        height: 100%;
        left: 4px !important;
    }

    & + .icon.is-left + .icon.is-right {
        height: 100%;
    }

    &:hover,
    &:focus {
        & + .icon.is-left,
        & + .icon.is-right {
            display: flex;
            color: var(--muted-text-color);
        }
    }

    & + .icon.is-left:hover {
        display: flex;
        color: var(--white);
    }

    & + .icon.is-left .mdi::before {
        font-size: 20px;
        line-height: 20px;
    }
}

.wis-input-right-icon {
    --icon-color: var(--muted-text-color);

    .input {
        padding-left: 44px !important;
    }

    .icon.is-left {
        color: var(--icon-color) !important;
    }
}

.wis-input--lg {
    .input {
        padding-top: 14px;
        padding-bottom: 14px;
        height: auto;
    }
}

.wis-input--transparent {
    .input:focus {
        background-color: rgb(30, 41, 59);
        caret-color: var(--primary);
        border-color: var(--primary);
    }
}

.text-link {
    padding: 0;
    height: auto;
    line-height: 1;
}

.help {
    margin-top: var(--offset-xs);
    color: var(--input-placeholder-color);
}

.dropdown-content {
    $popover-bg: #2e3648;
    $popover-border: #3a425a;

    background-color: $popover-bg;
    border-radius: var(--dropdown-content-radius);
    box-shadow: var(--dropdown-content-shadow);
    border: 1px solid $popover-border;
    min-width: 170px;
    padding-top: var(--offset-xxs);
    padding-bottom: var(--offset-xxs);
}

.dropdown.expanded {
    &,
    & .dropdown-trigger,
    & .dropdown-trigger button {
        width: 100%;
    }
}

.dropdown-item {
    font-size: 1rem;
}

.dialog .modal-card {
    max-width: 500px;
}

.modal-card-body {
    line-height: 1.5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-primary);
    font-weight: 600;
}

.b-tooltip .tooltip-content {
    color: var(--tooltip-color) !important;
    background-color: var(--tooltip-bg) !important;

    &::before {
        border-top-color: var(--tooltip-bg) !important;
    }
}

.navbar-menu {
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
}

.navbar-burger {
    &,
    &:hover,
    &:active {
        color: var(--white);
    }
}

.navbar-brand {
    margin-right: var(--offset-lg);
    min-height: var(--header-height);
    max-height: var(--header-height);
    min-width: 150px;

    .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        padding-left: var(--offset-sm);
    }
}

.navbar-start:not(:empty) {
    margin-left: auto;

    @media screen and (max-width: 1024px) {
        border-top: 1px solid #3a445b;
        border-bottom: 1px solid #3a445b;
    }
}

.navbar-end {
    margin-left: 0;

    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

strong {
    color: var(--body-color);
}

.wit-dropdown--offset-xs .dropdown-content {
    margin-top: var(--offset-xs);
}

.wit-dropdown--offset-xxs .dropdown-content {
    margin-top: var(--offset-xxs);
}

.select select {
    &,
    option {
        color: var(--body-color) !important;
    }
}

.tags:last-child {
    margin-bottom: 0;
}

.tag > span {
    line-height: 15px;
}

.tag.is-primary {
    background-color: var(--primary) !important;
}

.checkbox:hover {
    color: var(--body-color);
}

.snackbar.is-success {
    background-color: var(--success);
}

.snackbar.is-danger {
    background-color: var(--danger);
}

.button.wis-btn--rounded {
    border-radius: 9999px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0.14) 0 0 0 0, rgba(0, 0, 0, 0.12) 0 0 0 0;
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 64px;
    outline: var(--white) none 0;
    padding: 0 20px;
    user-select: none;
    white-space: nowrap;
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition);

    &:hover {
        text-decoration: none;
        color: var(--white);
    }

    & > span {
        display: flex;
        align-items: center;
    }

    &.is-secondary {
        background-color: var(--secondary-button-bg);

        &:hover {
            background-color: #2e3a4c;
        }
    }

    &.is-transparent {
        background-color: transparent;
        border: 1px solid rgb(100 116 139 / 1);

        &:hover {
            background-color: #2e3a4c;
        }
    }

    &.is-primary {
        background-color: var(--primary-button-bg);

        &:hover {
            background-color: #473fce;
        }
    }
}

.label:not(:last-child) {
    margin-bottom: 10px;
}
