:root {
    --link: var(--blue);

    .button {
        &.is-link,
        &.is-primary {
            --hover-background-color: #535eb4;
            --focus-box-shadow-color: var(--blue-600);
            --active-background-color: #535eb4;
        }
    }

    --input-focus-box-shadow-size: 0 0 0 0.05em;
}
