html {
    font-size: 14px;
    overflow-y: auto;
}

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}

.field:not(:last-child) {
    margin-bottom: var(--offset-sm);
}

.input {
    padding: var(--offset-xs) var(--offset-sm);

    & + .icon.is-right {
        display: none;
    }

    &:hover,
    &:focus {
        & + .icon.is-right {
            display: flex;
            color: var(--muted-text-color);
        }
    }

    & + .icon.is-right:hover {
        display: flex;
        color: var(--white);
    }

    & + .icon.is-right .mdi::before {
        font-size: 16px;
        line-height: 20px;
    }
}

.text-link {
    padding: 0;
    height: auto;
    line-height: 1;
}

.help {
    margin-top: var(--offset-xs);
    color: var(--input-placeholder-color);
}

.dropdown-content {
    $popover-bg: #2e3648;
    $popover-border: #3a425a;

    background-color: $popover-bg;
    border-radius: var(--dropdown-content-radius);
    box-shadow: var(--dropdown-content-shadow);
    border: 1px solid $popover-border;
    min-width: 170px;
    padding-top: var(--offset-xxs);
    padding-bottom: var(--offset-xxs);
}

.dropdown.expanded {
    &,
    & .dropdown-trigger,
    & .dropdown-trigger button {
        width: 100%;
    }
}

.dropdown-item {
    font-size: 1rem;
}

.dialog .modal-card {
    max-width: 500px;
}

.modal-card-body {
    line-height: 1.5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sarabun, sans-serif;
    font-weight: 600;
}

.b-tooltip .tooltip-content {
    color: var(--tooltip-color) !important;
    background-color: var(--tooltip-bg) !important;

    &::before {
        border-top-color: var(--tooltip-bg) !important;
    }
}

.navbar-menu {
    @media screen and (max-width: 1024px) {
        padding: 0;
    }
}

.navbar-burger {
    &,
    &:hover,
    &:active {
        color: var(--white);
    }
}

.navbar-brand {
    margin-right: var(--offset-lg);
    min-height: var(--header-height);
    max-height: var(--header-height);
    min-width: 150px;

    .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        padding-left: var(--offset-sm);
    }
}

.navbar-start:not(:empty) {
    margin-left: auto;

    @media screen and (max-width: 1024px) {
        border-top: 1px solid #3a445b;
        border-bottom: 1px solid #3a445b;
    }
}

.navbar-end {
    margin-left: 0;

    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

strong {
    color: var(--body-color);
}

.wit-dropdown--offset-xs .dropdown-content {
    margin-top: var(--offset-xs);
}

.wit-dropdown--offset-xxs .dropdown-content {
    margin-top: var(--offset-xxs);
}

.select select {
    &,
    option {
        color: var(--body-color) !important;
    }
}

.tags:last-child {
    margin-bottom: 0;
}

.tag > span {
    line-height: 15px;
}

.tag.is-primary {
    background-color: var(--primary) !important;
}

.checkbox:hover {
    color: var(--body-color);
}

.snackbar.is-success {
    background-color: var(--success);
}

.snackbar.is-danger {
    background-color: var(--danger);
}
