/* stylelint-disable */
:root {
    --link: var(--blue);
    --link-hover: currentColor;

    .button {
        &.is-link,
        &.is-primary {
            --hover-background-color: #535eb4;
            --focus-box-shadow-color: var(--blue-600);
            --active-background-color: #535eb4;
        }

        --button-hover-color: var(--button-color);

        &:active,
        &:focus,
        &:hover {
            box-shadow: none;
        }
    }

    --input-focus-box-shadow-size: 0 0 0 0.05em;

    --dropdown-content-offset: 0;
    --dropdown-content-radius: 2px;
    --dropdown-item-active-background-color: transparent;

    --modal-card-title-size: 16px;
    --modal-card-head-padding: 16px;
    --modal-card-body-padding: 16px;

    --navbar-height: 60px;
    --navbar-burger-color: var(--white);

    --label-font-weight: 400;
    --label-font-size: 1em;
}
