.wit-quest-title {
    color: var(--danger);
    border: 1px solid #3a445b;
    padding: var(--offset-xs)  var(--offset-sm);
    margin: var(--offset-xs) 0;
    border-radius: var(--offset-xxs);
}

.wit-item-image--very-rare {
    .wit-item-image__image {
        border-color: var(--item-very-rare);
    }

    .wit-item-image__counter {
        background-color: var(--item-very-rare);
    }
}

.wit-item-image--whimsical {
    .wit-item-image__image {
        border-color: var(--item-whimsical);
    }

    .wit-item-image__counter {
        background-color: var(--item-whimsical);
    }
}
