.wit-quest-title {
    color: var(--danger);
    border: 1px solid #3a445b;
    padding: var(--offset-xs)  var(--offset-sm);
    margin: var(--offset-xs) 0;
    border-radius: var(--offset-xxs);
}

.wit-top-tabs {
    .wit-top-tabs__tab {
        border-bottom: 2px solid transparent;
        height: 100%;
        transition: border-color var(--default-transition);

        &:not(:last-child) {
            margin-right: var(--offset-md);
        }
    }

    .wit-top-tabs__button {
        &,
        &:active,
        &:focus,
        &:hover {
            color: var(--white);
            text-decoration: none;
            padding: 0;
        }
    }

    .wit-top-tabs__counter {
        display: inline-block;
        padding: 0 var(--offset-xs);
        background-color: #dbdbdb;
        border-radius: 50px;
        font-size: var(--text-size-xxs);
        color: var(--body-bg);
        font-weight: 700;
    }

    .wit-top-tabs__tab.active {
        border-color: var(--yellow-400);

        .wit-top-tabs__counter {
            background-color: var(--yellow-400);
        }
    }
}

.message.wis-settings-message {
    background-color: #222736;
    border: 1px solid #f14668;

    .message-body {
        color: var(--red-400);
    }
}

.mdi-20px::before {
    font-size: 20px;
    line-height: 22px;
}
