@import '../../node_modules/buefy-css-variables/dist/buefy.css';
//@import "../styles/base/variables/variables.css";

:root {
    --link: #626ed4;
}

// Set your colors
$blue: #626ed4;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ec4561;
$orange: #f1734f;
$yellow: #f8b425;
$green: #02a499;
$teal: #050505;
$cyan: #38a4f8;
$brown: #8d6e63;
$blue-grey: #90a4ae;
$lime: #afb42b;

$primary: $blue;
$secondary:  #3c445a;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #32394e;
$dark: #eff2f7;

//$text: red;
//$body-color: red;
//
//$strong-color: red;
//$text-strong: red;
//$strong-weight: 500;
//$body-weight: 500;

$label-color: #5b626b;
$label-weight: 500;

//$link: #f90;
//$footer-background-color: #2c2f34;
//$link-hover: $primary;
$family-sans-serif: roboto, sans-serif;

//@import "~bulma";
//@import "~buefy/src/scss/buefy";

html {
    font-size: 14px;
}

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}

.field:not(:last-child) {
    margin-bottom: var(--offset-sm);
}

.input {
    padding: var(--offset-xs) var(--offset-sm);

    &::placeholder {
        //color: #495057;
    }
}

.text-link {
    padding: 0;
    height: auto;
    line-height: 1;
}
