/* stylelint-disable */

.body--light {
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --primary: var(--blue);
    --secondary: var(--gray-200);
    --success: var(--green);
    --info: var(--cyan);
    --warning: var(--yellow);
    --danger: var(--red);
    --light: var(--gray-200);
    --dark: var(--gray-800);

    --body-bg: #f8f8fa;
    --body-color: #5b626b;
    --label-color: #5b626b;

    --content-bg: var(--white);

    --input-bg: var(--white);
    --input-background-color: var(--white);
    --input-color: var(--gray-700);
    --input-border: var(--gray-400);
    --input-border-color: var(--gray-400);
    --input-bg-active: var(--white);
    --input-color-active: var(--gray-700);
    --input-border-active: var(--blue);

    --switcher-ball-bg: var(--gray-200);

    /*--header-bg: #ECECF1;*/
    --header-bg: #343A40;

    --dropdown-btn-color: #525f80;
    --dropdown-background: var(--white);
    --dropdown-hover-background: rgba(52, 58, 64, 0.05);
    --dropdown-border: var(--gray-200);
    --dropdown-item-color: var(--gray-700);
    --dropdown-item-hover-color: #1e2125;

    --locale-dropdown-btn-color: var(--gray-200);
    --locale-dropdown-background: #343a40;
    --locale-dropdown-hover-background: rgba(239, 242, 247, 0.05);
    --locale-dropdown-border: #3a425a;
    --locale-dropdown-item-color: var(--white);
    --locale-dropdown-item-hover-color: var(--gray-400);
}
