$tooltip-offset: 10px;
$tooltip-bg: var(--body-bg);
$tooltip-border: #3a425a;
$popover-bg: #2e3648;
$popover-border: #3a425a;

.tooltip {
    display: block !important;
    z-index: 10000;
    border: 1px solid $tooltip-border;
    border-radius: 4px;

    .tooltip-inner {
        background: $tooltip-bg;
        color: white;
        border-radius: inherit;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: $tooltip-bg;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: $tooltip-offset;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $tooltip-offset;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: $tooltip-offset;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: $tooltip-offset;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        .popover-inner {
            background-color: $popover-bg;
            border-radius: var(--dropdown-content-radius);
            box-shadow: var(--dropdown-content-shadow);
            padding-bottom: var(--dropdown-content-padding-bottom);
            padding-top: var(--dropdown-content-padding-top);
            border: 1px solid $popover-border;
            min-width: 150px;
        }

        .popover-arrow {
            border-color: $popover-border;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }
}
