@import "./reboot.css";
@import "./variables.css";
@import "./helpers/colors.css";
@import "./helpers/display.css";
@import "./helpers/text.css";
@import "./helpers/size.css";
@import "./helpers/cursor.css";
@import "./helpers/offsets.css";
@import "./helpers/other.css";

body {
    font-size: var(--default-text-size);
    line-height: var(--default-line-height);
    min-height: 100vh;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    font-family: Roboto, sans-serif;
}
