@import "~/node_modules/@mdi/font/css/materialdesignicons.css";
@import "./reboot.css";
@import "./variables/variables.css";
@import "./helpers/helpers.css";

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}
