@import "./reboot.css";
@import "./variables.css";
@import "./helpers/colors.css";
@import "./helpers/display.css";
@import "./helpers/text.css";
@import "./helpers/size.css";
@import "./helpers/cursor.css";
@import "./helpers/offsets.css";
@import "./helpers/other.css";

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    min-height: 100vh;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    font-family: var(--font-family-roboto);
}
