@import "variables.css";
@import "theme-dark.css";
@import "theme-light.css";
@import "primevue-theme-overrides.css";
@import "custom.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #0000;
}

body ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: inset 0 0 0 20px #ffffff3d;
}

html, body {
    min-height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-size: var(--text-size-xs);
    line-height: var(--line-height-xs);
    color: var(--body-color);
    background-color: var(--body-bg);
    font-family: var(--font-family-primary);
    transition: background-color var(--default-transition), color var(--default-transition);
}
