.color-muted {
    color: var(--muted-text-color);
}

.color-white {
    color: var(--white);
}

.color-error {
    color: var(--danger);
}

.color-dark-pink {
    color: var(--dark-pink);
}

.bg-muted {
    background-color: var(--muted-text-color);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-danger.bg-danger {
    background-color: var(--danger);
}

.border-danger.border-danger {
    border: 1px solid var(--danger);
}

.border-bottom-default {
    border-bottom: var(--default-border);
}

.container-sm {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 2200px) {
    .container-sm {
        max-width: 1440px !important;
    }
}

@media (min-width: 2201px) {
    .container-sm {
        max-width: 1900px !important;
    }
}
