/* stylelint-disable */

.wit-background--primary {
    background-color: var(--bs-primary);
}

.wit-background--white {
    background-color: var(--bs-white);
}

.wit-color--white {
    color: var(--bs-white);
}

.wit-color--white-half {
    color: rgba(255, 255, 255, 0.5);
}

/*.wit-text--N600 {*/
/*    color: $N600;*/
/*}*/

/*.wit-text--N500 {*/
/*    color: $N500;*/
/*}*/

/*.wit-text--N400 {*/
/*    color: $N400;*/
/*}*/

/*.wit-text--N300 {*/
/*    color: $N300;*/
/*}*/

/*.wit-text--N100 {*/
/*    color: $N100;*/
/*}*/

/*.wit-text--G300 {*/
/*    color: $G300;*/
/*}*/

/*.wit-text--white {*/
/*    color: $white;*/
/*}*/

/*.wit-text--Y500 {*/
/*    color: $Y500;*/
/*}*/

/*.wit-text--R300 {*/
/*    color: $R300 !important;*/
/*}*/

/*.wit-text--G300 {*/
/*    color: $G300;*/
/*}*/
