.wit-offset-bottom--xxs {
    margin-bottom: var(--offset-xxs);
}

.wit-offset-bottom--xs {
    margin-bottom: var(--offset-xs);
}

.wit-offset-bottom--sm {
    margin-bottom: var(--offset-sm);
}

.wit-offset-bottom--md {
    margin-bottom: var(--offset-md);
}

.wit-offset-bottom--lg {
    margin-bottom: var(--offset-lg);
}

.wit-offset-bottom--xlg {
    margin-bottom: var(--offset-xlg);
}

.wit-offset-bottom--xxlg {
    margin-bottom: var(--offset-xxlg);
}

.wit-offset-left--auto {
    margin-left: auto;
}

.wit-offset-right--auto {
    margin-right: auto;
}

.wit-offset-right--xxs {
    margin-right: var(--offset-xxs);
}

.wit-offset-right--xs {
    margin-right: var(--offset-xs);
}

.wit-offset-right--sm {
    margin-right: var(--offset-sm);
}

.wit-offset-right--md {
    margin-right: var(--offset-md);
}

.wit-offset-right--lg {
    margin-right: var(--offset-lg);
}

.wit-offset-right--xlg {
    margin-right: var(--offset-xlg);
}

.wit-offset-right--xxlg {
    margin-right: var(--offset-xxlg);
}
