.wit-overflow--hidden {
    overflow: hidden;
}

.wit-position--relative {
    position: relative;
}

.wit-position--absolute {
    position: absolute;
}

.wit-font-family--primary {
    font-family: var(--font-family-primary);
}

.wit-font-family--secondary {
    font-family: var(--font-family-secondary);
}

.wit-transition--color {
    transition: color var(--default-transition);
}

.wit-transition--background {
    transition: background-color var(--default-transition);
}

.wit-transition--border {
    transition: border-color var(--default-transition);
}

.wit-transition--box-shadow {
    transition: box-shadow var(--default-transition);
}
