.wit-overflow--hidden {
    overflow: hidden;
}

.wit-position--relative {
    position: relative;
}

.wit-position--absolute {
    position: absolute;
}

.wit-font-family--roboto {
    font-family: var(--font-family-roboto);
}

.wit-font-family--sarabun {
    font-family: var(--font-family-sarabun);
}
