.wit-overflow--hidden {
    overflow: hidden;
}

.wit-position--relative {
    position: relative;
}

.wit-position--absolute {
    position: absolute;
}

.wit-font-family--primary {
    font-family: var(--font-family-primary);
}

.wit-font-family--secondary {
    font-family: var(--font-family-secondary);
}

.wit-transition {
    transition: all var(--default-transition);
}
